/*Background*/
body {
    background-color:rgb(0, 0, 0);
    margin: 0px;
    margin-top: -15px;
    color: rgb(175, 175, 175);
}

/*Navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(36, 36, 36);
    position: fixed;
    top: 0;
    width: 100%;
  }

li {

    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: rgb(15, 15, 15);
}

.grid-item-1 {
    display: grid;
    grid-column: span 12;
}

/*Grid settup*/
.grid-container {
    grid-template-columns:repeat(12, minmax(0, 1fr));
    display: grid;
    grid-gap: 10px;
    color: rgb(175, 175, 175);
}

/*Overskrift*/
.grid-item-5 {
    display: grid;
    text-align: center;
    font-size: 25px;
    grid-column: span 12;
    margin-top: 75px;
}


/*Prod. and historytelling*/
.grid-item-6 {
    display: grid;
    border-style: ridge;
    grid-column-start: 2;
    grid-column-end: 6;
}

a.grid-item-6 {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a.grid-item-6:hover {
    color: tomato;
}

/*programing and concept development*/
.grid-item-7 {
    display: grid;
    border-style: ridge;
    grid-column-start: 8;
    grid-column-end: 12;
}


a.grid-item-7 {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a.grid-item-7:hover {
    color: tomato;
}


/*Teknologiforståelse*/
.grid-item-8 {
    display: grid;
    border-style: ridge;
    grid-column-start: 2;
    grid-column-end: 6;
}

a.grid-item-8 {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a.grid-item-8:hover {
    color: tomato;
}

/*English*/
.grid-item-9 {
    display: grid;
    border-style: ridge;
    grid-column-start: 8;
    grid-column-end: 12;
}


a.grid-item-9 {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a.grid-item-9:hover {
    color: tomato;
}

/*Science*/
.grid-item-10 {
    display: grid;
    border-style: ridge;
    grid-column-start: 2;
    grid-column-end: 6;
}

a.grid-item-10 {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a.grid-item-10:hover {
    color: tomato;
}

/*Maths*/
.grid-item-11 {
    display: grid;
    border-style: ridge;
    grid-column-start: 8;
    grid-column-end: 12;
}


a.grid-item-11 {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a.grid-item-11:hover {
    color: tomato;
}